{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
	<link rel="stylesheet" href="../fontawesome/css/all.css">
</head>
<body>
	<div id="reg-form">
		<div id="icon">
			<span class="fa fa-user-circle"></span>
		</div>
		<form>
			<div class="form-group">
				<input type="text" placeholder="Enter Username">
			</div>
			<div class="form-group">
				<input type="text" placeholder="Enter Email">
			</div>
			<div class="form-group">
				<input type="password" placeholder="Enter Password">
			</div>
			<div class="form-group">
				<input type="password" placeholder="Enter Confirm Password">
			</div>
			<div class="form-group">
				<textarea placeholder="Description"></textarea>
			</div>
			<div class="form-group">
				<select>
					<option>Select Designation</option>
					<option>Team Manager</option>
					<option>Team Lead</option>
					<option>Sr.S/w Engg.</option>
				</select>
			</div>
			<div class="form-group">
				<input type="submit" name="" value="SignUp">
			</div>
		</form>
	</div>
</body>
</html>
