{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jspiders Website</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="../fontawesome/css/all.css">
</head>
<body>
	<!-- Main Header -->
	<header>
		<h1><span>J</span>spiders Training Institute</h1>
		<div id="links">
			<a href="">Home</a>
			<a href="">Courses</a>
			<a href="">Placements</a>
			<a href="">Blog</a>
			<a href="">Contact</a>
		</div>
	</header>

	<!-- Landing Page -->
	<div id="landing-page">
		<div id="wrapper">
			<h1>Best Training Institute</h1>
			<p>JSpiders is the world’s ace software course training organization with an aim to bridge the gap between the demands of the industry and the curriculum of educational institutions.With centers across the Globe, the institute is a platform where young minds are given the opportunity to build successful careers.”JSpiders is a place where businesses find talent and dreams take flight."</p>
			<button>Visit Us For More Info</button>
		</div>
	</div>
</body>
</html>

