<!DOCTYPE html>
<html>
<head>
	<title>Menu bar</title>
	<link rel="stylesheet" href="../HTML/fontawesome/css/all.css">
	<style>
		div
		{
			background-color:black;
			padding:30px;
			text-align:center;
		}
		div>a 
		{
			
			background:yellow;	
			display:inline-block;
			padding:10px 20px;
			border-radius:15px;
			text-decoration:none;
			margin:10px;
			color: white;

		}
		a:hover

		{
			box-shadow:0px 0px 10px white;
			color: black;
		}
		i
		{
			margin:5px;

		}
	</style>
</head>
<body>
	<div id="links">
		<a href=""><i class="fa-sharp fa-solid fa-house"></i>Home</a>
		<a href=""><i class="fa-solid fa-newspaper"></i>Updates</a>
		<a href=""><i class="fa-sharp fa-solid fa-images"></i>Gallery</a>
		<a href=""><i class="fa-solid fa-graduation-cap"></i>Courses</a>
		<a href=""><i class="fa-solid fa-phone"></i>Contact Us</a>
	</div>

</body>
</html>